<h1 class="text-center mt-4">Edit article</h1> <!-- mt-4 stands for margin-top of 4 (idk what units)-->
<%= render 'form' %> <!-- Renders the partial, _form, which doesn't need a path since it is in the same directory. However, if there's a partial in the layouts folder, it must be shown 'layouts/messages_partial_example_here' -->