<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
      <%= render 'layouts/danger_alert' %>
      The following errors prevented the <%= obj.class.name.downcase %> from being saved <!-- Warning Symbol with Alert text-->
    </h4>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close"></button> <!-- shadow-none causes a blue outline or whatever to not appear when the button is clicked -->
  </div>
<% end %>